.formContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    padding: 0 20px;
        
}

.formContainer div{
    flex: 1 0 300px;
}
.formContainer div label {
    margin: 0;
}

.formContainer button {
    height: 35px;
    flex: 1 0 50px;
    bottom: 0;
    margin-top: 20px;

    
}